body{
background-color:black;
}
group{
width:50%;
height:50%;
border-radius:500px;
}
frame{
border-radius:6000px;
position:absolute;
left:24%;
top:15%;
Width:500px;
height:500px;
background:red;
z-index:50;

}
#s1{
border-radius:500px;
position:absolute;
left:50%;
top:15%;
width:50px;
height:50px;
background:white;
z-index:100;

}
 #s2{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:65%;
top:18%;


}

#s3{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:75%;
top:27%;

}

#s4{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:79%;
top:40%;

}

#s5{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:76%;
top:51%;

}

#s6{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:65%;
top:61%;

}

#s7{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:50%;
top:64%;

}

#s8{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:38%;
top:61%;

}

#s9{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:28%;
top:53%;

}

#s10{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:24%;
top:40%;

}

#s11{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:28%;
top:27%;

}

#s12{
border-radius:500px;
position:absolute;
width:50px;
height:50px;
background:white;
z-index:100;
left:38%;
top:18%;

}

