body{
background-color:#A2A239;
}
header{
background-color:#E1E000;
}
nav{
background-color:#55540D;
}
section{
background-color:#E2E100;
}
footer{
background-color:#FFF72F;
}
aside{
background-color:#FFF500;
}
