body{
background-color:#AA3F39;
}
header{
background-color:#A74843;
}
nav{
background-color:#AA3F39;
}
section{
background-color:#A02B44;
}
footer{
background-color:#AA5839;
}
aside{
background-color:#A74843
}
