body{
background-color:#40301B;
}
header{
background-color:#513005;
}
nav{
background-color:#8D6329;
}
section{
background-color:#735125;
}
footer{
background-color:#5D3D13;
}
aside{
background-color:#3C3225;
}
