body{
background-color:#582B7D;
}
header{
background-color:#560995;
}
nav{
background-color:#6C26A5;
}
section{
background-color:#792ABA;
}
footer{
background-color:#3A1C53;
}
aside{
background-color:#520690;
}
