body{
background-color:#151818;
}
header{
background-color:#191D1A;
}
nav{
background-color:#1B3930;
}
section{
background-color:2C3A36;
}
footer{
background-color:#171A19;
}
aside{
background-color:#344D4E;
}

