body{
background-color:#0B498E;
}
header{
background-color:#2F5279;
}
nav{
background-color:#33477D;
}
section{
background-color:#2A6074;
}
footer{
background-color:#146A8B;
}
aside{
background-color:#2A67AC;
}
