body{
background-color:#293333;
}
header{
background-color:#295858;
}
nav{
background-color:#556464;
}
section{
background-color:#779595;
}
footer{
background-color:#738686;
}
aside{
background-color:#BBDEDE;
}
