body{
background-color:#E29393;
}
header{
background-color:#FB4949;
}
nav{
background-color:#FB6464;
}
section{
background-color:#FF8383;
}
footer{
background-color:#FF7F7F;
}
aside{
background-color:#F16262;
}
