.doorframe1{
position:fixed;
background-color: #331A33;
left:47%;
top:50%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe1:hover{
width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob1{
background-color:black;
position:fixed;
left:52%;
top:57%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe1:hover + .doorknob1{
left:47.5%;
transition-duration:1s;

}



.doorframe2{
position:fixed;
background-color:blue;
left:37%;
top:50%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe2:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob2{
background-color:black;
position:fixed;
left:42%;
top:57%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe2:hover + .doorknob2{
left:37.5%;
transition-duration:1s;

}


.doorframe3{
position:fixed;
background-color:yellow;
left:57%;
top:50%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe3:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob3{
background-color:black;
position:fixed;
left:62%;
top:57%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe3:hover + .doorknob3{
left:57.5%;
transition-duration:1s;

}


.doorframe4{
position:fixed;
background-color:green;
left:37%;
top:70%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe4:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob4{
background-color:black;
position:fixed;
left:42%;
top:77%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe4:hover + .doorknob4{
left:37.5%;
transition-duration:1s;

}


.doorframe5{
position:fixed;
background-color:orange;
left:47%;
top:70%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe5:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob5{
background-color:black;
position:fixed;
left:52%;
top:77%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe5:hover + .doorknob5{
left:47.5%;
transition-duration:1s;

}


.doorframe6{
position:fixed;
background-color:hotpink;
left:57%;
top:70%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe6:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob6{
background-color:black;
position:fixed;
left:62%;
top:77%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe6:hover + .doorknob6{
left:57.5%;
transition-duration:1s;

}


.doorframe7{
position:fixed;
background-color:red;
left:37%;
top:30%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe7:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob7{
background-color:black;
position:fixed;
left:42%;
top:37%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe7:hover + .doorknob7{
left:37.5%;
transition-duration:1s;

}


.doorframe8{
position:fixed;
background-color:saddlebrown;
left:47%;
top:30%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe8:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob8{
background-color:black;
position:fixed;
left:52%;
top:37%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe8:hover + .doorknob8{
left:47.5%;
transition-duration:1s;

}


.doorframe9{
position:fixed;
background-color:purple;
left:57%;
top:30%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe9:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob9{
background-color:black;
position:fixed;
left:62%;
top:37%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe9:hover + .doorknob9{
left:57.5%;
transition-duration:1s;

}






p{
text-align:center;
margin-top:50px;
}
