.doorframe{
position:fixed;
background-color:#808080;
left:5%;
top:80%;
height:150px;
width:100px;
transition-duration: 1s;
transform:rotateY(0deg);
}

.doorframe:hover{

width:20px;
perspective:60px;
transition-duration:1s;
}

.doorknob{
background-color:black;
position:fixed;
left:10.5%;
top:87%;
border-radius:100px;
width:10px;
height:10px;
transition-duration:1s;
}

.doorframe:hover + .doorknob{
left:5.5%;
transition-duration:1s;

}

p{
margin-left:85px;
margin-top:700px;
position:fixed;
z-index:1;
}
